# Moodle 5.x premjestio je javno-dostupni kod u public/ poddirektorij (webroot
# checkouta vise NIJE web-serviran direktno - vidi {{ moodle_webroot }}/index.php,
# koji namjerno baca iznimku ako mu se pristupi izvan public/).
Alias / {{ moodle_webroot }}/public/

<Directory "{{ moodle_webroot }}/public">
    Options -Indexes +FollowSymLinks
    AllowOverride All
    Require all granted
    DirectoryIndex index.php
</Directory>

<Directory "{{ moodle_dataroot }}">
    Require all denied
</Directory>
